{% extends 'base.html.twig' %}
{% block main %}
    <section class="jumbotron">
        <div class = "container">
            <div class="display-4">Invoice Maker</div>
            <p class="text-muted">Welcome to invoice maker Aenean commodo ligula eget dolor.
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                parturient montes, nasceturAenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nasceturAenean massa. Cum sociis natoque penatibus et
                magnis dis parturient montes, nascetur </p>
            <div><a href="#" class="btn btn-primary">Login</a>
                <a href="#" class="btn btn-primary">Sign up</a>
            </div>
        </div>

    </section>
{% endblock %}
